<html lang="en">
    <head>
        <title>Sherlockode CRUD</title>
        <link rel="stylesheet" href="{{ asset('/bundles/sherlockodecrud/css/style.css') }}"/>
    </head>
    <body>
        <aside></aside>
        <main>
            {% for type, flashType in app.flashes %}
                {% for message in flashType %}
                    <div class="flash flash-{{ type }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
