{% trans_default_domain 'SherlockodeCrud' %}

{% for field in showView.fields %}
    <p>
        {{ field.label|trans }}
        {{ sherlockode_crud_render_field(field, resource) }}
    </p>
{% endfor %}
